<h2>About Me</h2>
<p>
  I am a computer science student who interested in developing software specifically web development. I'm experienced
  in dealing with application data flow issues and interests for learn about Back End Development.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.comkazuzukan">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tasks fa-lg main-list-item-icon"></span>
    <a href="#">Project</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/risyadpangestu/">LinkedIn</a>
  </li>
</ul>
