<h2>About Me</h2>
<p>
  Passionate Back-End Engineer with 3 years of experience developing transportation management systems for a logistics company. Proficient in Go for building efficient and scalable applications. Skilled in PostgreSQL for database management and Redis for caching.
  Experienced in designing microservices using event-driven architecture to enhance system performance and reliability.  
</p>
<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/kazuzukan">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tasks fa-lg main-list-item-icon"></span>
    <a href="#">Project</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin-square fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/risyadpangestu/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:risyadtrue@gmail.com?subject=Project">Email Me</a>
  </li>
</ul>
